html, body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: 12px;
}

td {
  padding-left: 20px;
  border-bottom: 1px solid #ddd;
}
.p-servers {
  table-layout: fixed;
  min-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.p-servers thead td {
  line-height: 30px;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
}
.p-servers .p-url {
  width: 500px;
}
.p-servers .p-basic-info {
  width: 300px;
}
